@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

.card {
  display: inline-block;
  background-color: #fff;
  border: 10px;
  border-color: #000;
  border-radius: .5em;
}

.card:hover {
  background-color: #e6e6e6;
}

.btn {
  background-color: #fff;
  color: #000;
}

.btn:hover {
  background-color: #333;
}

a {
  text-decoration: none;
  color: #000;
}

*, *::before, *::after {
  box-sizing: inherit;
}
